## projects data,binaries,etc...
*/bin
*/dat
*/figures
*/docs_fig
*.ipynb
!*_.ipynb

tests/dials
tests/*/dat
multislice/examples/dat
multislice/temsim/makefile
multislice/data_2D
blochwave

multislice/notebooks/multislice/.ipynb_checkpoints/
multislice/notebooks/multislice/figures

## Python
*/__pycache__
*.egg-info
