## projects data,binaries,etc...
*/bin
*/dat
*/figures
*/docs_fig
**/dat/*
**/sandbox/*
**/figures/*
**/docs/build
**/docs/source/reference

**/tests/**/ref
**/tests/**/out
**/tests/**/report

tests/dials
tests/*/dat
multislice/examples/dat
multislice/temsim/makefile
multislice/data_2D
#blochwave/


**.ipynb_checkpoints/


## Python
**/__pycache__
*.egg-info
**/.coverage
