## projects data,binaries,etc...
*/bin
*/dat
*/figures
*/docs_fig

tests/dials
tests/*/dat
multislice/examples/dat
multislice/temsim/makefile
multislice/data_2D
blochwave

## Python
*/__pycache__
*.egg-info
